{{ template "auth.html" . }}
{{ define "title" }}Forgot Password | Rotational Quarterdeck{{ end }}

{{ define "htmxConfig" }}
<meta name="htmx-config" content='{
    "responseHandling":[
      {"code":"204", "swap": false},
      {"code":"[23]..", "swap": true},
      {"code":"[45]..", "swap": false, "error":true},
      {"code":"...", "swap": true}
    ]
  }' />
{{ end }}

{{ define "auth" }}
<div class="auth-form p-3">
  <div class="text-center">
    <p class="lead">
      <h1 class="h2">Password Reset</h1>
      <p class="lead">Enter your email to get a password reset link</p>
    </p>
  </div>

  <div class="mb-3">
    <form hx-post="/v1/forgot-password" hx-ext='form-json' hx-headers='{"Accept": "text/html"}'>
      <div class="mb-3">
        <label class="form-label" for="email">Email</label>
        <input class="form-control form-control-lg" id="email" type="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-lg btn-primary">Reset Password</button>
      </div>
    </form>
  </div>
  <div class="text-center">
      Remember your password? <a href="/login">Log in</a>
  </div>
</div>
{{ end }}

{{ define "appcode" }}
<script>
  // Handle errors from the backend.
  document.body.addEventListener("htmx:responseError", (e) => {
    window.location.href = "/error";
  });
</script>
{{ end }}
