QD_MAINTENANCE=false
QD_DATABASE_URL=sqlite3:///tmp/quarterdeck.db
QD_CONSOLE_LOG=true
QD_LOG_LEVEL=debug
QD_BIND_ADDR=:8888
QD_AUTH_AUDIENCE=http://localhost:8888
QD_AUTH_ISSUER=http://localhost:8888

# If you use go run ./cmd/boson mkkey you can set this envvar so you don't have to
# log back in every time you restart the server. Put the keys in the tmp folder.
# QD_AUTH_KEYS=