{{ template "base" . }}
{{ define "container" -}}
  <div class="auth-full-page d-flex">
  {{ block "auth" . }}
    <div class="auth-form p-3"></div>
  {{ end }}
  </div>
{{ end }}

{{- define "scripts" }}
<!-- include only authentication dependencies -->
<script src="/static/js/htmx/htmx.min.js"></script>
<script src="/static/js/htmx/htmx-json-enc.js"></script>
<script src="/static/js/htmx/config.js"></script>
<script src="/static/js/app.js"></script>
{{ end -}}

{{ define "appcode" }}
  <!-- exclude any application scripts from auth -->
{{ end }}