<div class="auth-form p-3">
  <div class="text-center">
    <p class="lead">
      <h1 class="h2">Welcome back!</h1>
      <p class="lead">Sign in to your account to continue</p>
    </p>
  </div>

  <div class="mb-3">
    <!-- TODO: add social login buttons and/or passkey login options -->
    <form>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input class="form-control form-control-lg" type="email" name="email" placeholder="Enter your email" autocomplete="username" required />
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input class="form-control form-control-lg" type="password" name="password" placeholder="Enter your password" autocomplete="current-password" required />
        <small>
          <a href="/auth/reset-password">Forgot password?</a>
        </small>
      </div>
      <div>
        <div class="form-check align-items-center">
          <input id="customControlInline" type="checkbox" class="form-check-input" value="remember-me" name="remember-me" checked>
          <label class="form-check-label text-small" for="customControlInline">Remember me</label>
      </div>
      <div class="d-grid gap-2 mt-3">
        <button class="btn btn-lg btn-primary">Sign in</button>
      </div>
    </form>
  </div>
</div>