{{ define "body" }}
<body>
  {{ block "container" . }}{{ end }}

  <!-- Application scripts -->
  {{ block "scripts" . }}
  <script src="/static/js/htmx/htmx.min.js"></script>
  <script src="/static/js/htmx/form-json.js"></script>
  <script src="/static/js/vendor/jquery-3.7.1.min.js"></script>
  <script src="/static/js/vendor/notyf.min.js"></script>
  <script src="/static/js/appstack/app.js"></script>
  <script src="/static/js/main.js"></script>
  {{ end }}

  <!-- Page specific scripts -->
  {{ block "appcode" . }}{{ end }}
</body>
{{ end }}