{{ define "createAPIKeyModal" }}
<div id="createAPIKeyModal" class="modal" tabindex="-1">
  <div class='modal-dialog'>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Create API Key</h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="createAPIKeyAlerts" class="alerts"></div>
        <form id="createAPIKeyForm" hx-post="/v1/apikeys" hx-ext="form-json" hx-target="#apiKeyCreatedModal" hx-swap="innerHTML" hx-indicator="#loader" hx-disabled-elt="next button[type='submit'], next button[type='reset']">
          <div class="mb-3">
            <label class="form-label" for="description">API Key Description</label>
            <input type="text" class="form-control" id="description" name="description" required>
          </div>
          <div class="mb-3">
            <label class="form-label" for="permissions">Permissions</label>
            <p class="form-text text-muted text-sm my-0">
              Permissions are not yet defined and are coming soon. All API keys created
              now will have full permissions to access the API.
            </p>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <span id="loader" class="htmx-indicator spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        <button type="submit" form="createAPIKeyForm" class="btn btn-primary">
          Create
        </button>
        <button type="reset" form="createAPIKeyForm" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{{ end }}