{{ template "base" . }}

{{ define "title" }}Welcome to Quarterdeck!{{ end }}
{{ define "preheader" }}Here is a link to set your password.{{ end }}

{{ define "content" }}
<tr>
  <td style="background-color: #ffffff;" class="darkmode-bg">
    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">

          <p style="margin: 0 0 16px;">Hello{{ if .ContactName }} {{ .ContactName }},{{ end }}</p>
          <p style="padding: 12px 0; margin: 0;">
            Someone has created a new user for you.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            For security purposes, this password link will expire in 48 hours.
          </p>
          <p style="padding: 12px 0; margin: 0;">
            To set your password, click the button below.
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 0 20px 20px;">
          <!-- Button : BEGIN -->
          <table align="center" role="presentation" cellspacing="0" cellpadding="0" border="0" style="margin: auto;">
            <tr>
              <td class="button-td button-td-primary" style="border-radius: 4px; background: #55ACD8;">
                <a class="button-a button-a-primary" href="{{ .VerifyURL }}"
                  style="background: #55ACD8; font-family: sans-serif; font-size: 16px; line-height: 20px; text-decoration: none; padding: 13px 17px; color: #ffffff; display: block; border-radius: 4px;">
                  Set your password
                </a>
              </td>
            </tr>
          </table>
          <!-- Button : END -->
        </td>
      </tr>

      <tr>
        <td style="padding: 12px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">If you cannot click the button, please copy and paste the following URL into your
            browser:<br /><br /> <a href="{{ .VerifyURL }}" style="text-decoration: underline;">{{ .VerifyURL }}</a>
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding: 2px 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          {{- if .SupportEmail }}
          <p style="margin: 0 0 16px;">If you have trouble visiting the link, please contact us at <a
              href="mailto:{{ .SupportEmail }}">{{ .SupportEmail }}</a>.</p>
          {{- end }}
        </td>
      </tr>
      <tr>
        <td style="padding: 20px; font-family: sans-serif; font-size: 16px; line-height: 20px; color: #000000;">
          <p style="margin: 0 0 16px;">This is an automated message sent by <a href="https://rotational.io">Rotational
              Quarterdeck</a>
          </p>
        </td>
      </tr>
    </table>
  </td>
</tr>
{{- end }}

{{ define "bottom" }}
{{ end }}
